<div class="flex flex-row items-center gap-2">

  <ng-container *ngIf="orders$ | async as orders">
    <app-orders-widget (ordersClicked)="handleOrdersClicked()" [ordersCount]="orders.domain"></app-orders-widget>
  </ng-container>


  <ng-container *ngIf="favoriteProducts$ | async as favoriteProducts">
    <app-favorite-widget
      (addAllProductsToCart)="handleAddAllProductsToCart(favoriteProducts)"
      (removeProductFromFavorite)="handleRemoveProductFromFavorite($event)"
      (addProductToCart)="handleAddProductToCart($event)"
      [favoriteProducts]="favoriteProducts"></app-favorite-widget>
  </ng-container>
  <ng-container *ngIf="cartState$ | async as cartState">
    <app-cart-widget
      [title]="cartTitle"
      (updateProductQuantity)="handleUpdateProductQuantity($event)"
      (removeProductFromCart)="handleRemoveProductFromCart($event)"
      [cartQuantity]="cartState.totalQuantity"
      [cartProducts]="cartState.productOrders"></app-cart-widget>
  </ng-container>
</div>
