<app-dom-portal [selector]="'#headerId'">
  Checkout
</app-dom-portal>

<div class=" mx-auto lg:max-w-7xl h-full overflow-y-scroll max-h-full ">
  <ng-container *ngIf="checkoutData$ | async as checkoutData">
    <app-checkout-details
      [cartProducts]="checkoutData.cartProducts"
      [orderPaymentSummaryExtraFee]="checkoutData.orderPaymentSummaryExtraFee"
      [paymentMethodCards]="cardData"
      (createOrder)="handleCreateOrder($event)"
      (paymentMethodChanged)="handlePaymentMethodChange($event)"
      (updateProductQuantity)="handleUpdateProductQuantity($event)"
      (removeProduct)="handleRemoveProduct($event)"
    >
    </app-checkout-details>
  </ng-container>
</div>
